/* Reset CSS Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 1px solid #000;
  margin: 0;
}

.container {
  margin: 0 auto;
  border: 1px solid #ccc;
  height: 100vh;
  width: 50%;
  background-color: powderblue;
}

h1.titulo {
  text-align: center;
}

.bloco-classe div {
  border: 1px solid #333;
  min-height: 100px;
  width: 100%;
}
